.div1:hover{
  transform: rotate(90deg);
}
div{
  width: 80px;
  height: 70px;
  color: white;
  position:relative;
  font-weight:bold;
  font-size:15px;
  padding:10px;
  float:left;
  margin-right:50px;
  border-radius:5px;
  border:1px solid #000000;
  background:red;
  margin:10px;
}
.div2:hover{
  transform: rotateX(180deg);
}