.square {
    position: relative;
    height: 100px;
}
.left,
.center,
.right {
    position: absolute;
    top: 0;
    bottom: 0;
}
.left,
.right { width: 20px }

.left { border-radius: 20px 0 0 20px }
.right { border-radius: 0 20px 20px 0 }

.center {
    left: 20px;
    width: 1px;
    transform: scaleX(60);
    transform-origin: left;
    background-color: white;
    border-top: 10px black solid;
    border-bottom: 10px black solid;
}
.left{
    background-color: red;
}

.right {
    transform: translateX(80px);
    background-color: aqua;
}

.center {
    animation: center-animate 1s ease infinite alternate;
}

.right {
    animation: right-animate 1s ease infinite alternate;
}

@keyframes right-animate {
    0% { transform: translateX(140px) }
    100% { transform: translateX(20px) }
}

@keyframes center-animate {
    0% { transform: scaleX(121) }
    100% { transform: scaleX(1) }
}
.square {
	position: absolute;
	left: calc(50% - 80px);
	top: calc(50% - 50px);
}