body{
    background-color: #67bbf3;
    margin: 0px;
}

header{
    height: 450px;
    background-image: url(../img/vin-diesel-halalos-iramban.jpg);
    background-repeat: no-repeat;
    background-position: center;
    border-style: none none solid none;
    border-width: 0px 0px 10px 0px;
    border-color: #6495ed;

    background-size: auto;
}